<div class="form-group" ng-controller="EditUserController" ng-submit="editPassword()">
    <label for="inputOldPassword" class="col-lg-2 control-label"> Old Password</label>
    <div class="col-lg-10">
        <input type="password" class="form-control" id="inputOldPassword" placeholder="Password" ng-model="editUserPasswordData.oldPassword" required>
    </div>

    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="editUserPasswordData.password" required>
    </div>
</div>
<div class="form-group">
    <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm Password</label>
    <div class="col-lg-10">
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" ng-model="editUserPasswordData.confirmPassword" required>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
        <a href="#/users/:username" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>