<form class="form-horizontal" ng-controller="EditUserController" ng-submit="editUser()">
    <fieldset>
        <legend>Edit User Profile</legend>
        <div class="upload-div" ng-controller="UploadPicController">
            <div class="upload-buttons">
                <div id="editArea">
                    <div style="float:left; margin-right: 10px;">
                        <label for="Profilepic">Upload right away</label>

                        <div id="Profilepic" ngf-drop ngf-select ng-model="files" ng-model-rejected="rejFiles"
                             ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                             ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*,application/pdf'"
                             ngf-drop-available="dropAvailable">
                            <div ng-hide="dropAvailable">File Drop not available</div>
                            <div ng-show="dropAvailable">Drop Images or PDFs</div>
                            <div>click to select</div>
                        </div>

                    </div>
                    <div class="preview">
                        <div>Preview image:</div>
                        <img style="max-width:150px" ngf-src="files[0]" ng-model="editUserData.profileImageData" ng-show="files[0].type.indexOf('image') > -1"
                             ngf-accept="'image/*'">
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <div class="upload-div" ng-controller="UploadPicController">
            <div class="upload-buttons">
                <div class="editArea">
                    <div style="float:left; margin-right: 10px;">
                        <label for="CoverPic">Upload right away</label>

                        <div id="CoverPic" ngf-drop ngf-select ng-model="files" ng-model-rejected="rejFiles"
                             ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                             ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'image/*,application/pdf'"
                             ngf-drop-available="dropAvailable">
                            <div ng-hide="dropAvailable">File Drop not available</div>
                            <div ng-show="dropAvailable">Drop Images or PDFs</div>
                            <div>click to select</div>
                        </div>

                    </div>
                    <div class="preview">
                        <div>Preview image:</div>
                        <img style="max-width:150px" ngf-src="files[0]" ng-model="editUserData.coverImageData" ng-show="files[0].type.indexOf('image') > -1"
                             ngf-accept="'image/*'">
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="editUserData.username" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="editUserData.Name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="editUserData.email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Gender</label>
            <div class="col-lg-10">
                <div class="radio" >
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadiosMale" value="Male" ng-model="editUserData.gender" required>
                        Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadioFemale" value="Female" ng-model="editUserData.gender" required>
                        Female
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadiosOther" value="Other" ng-model="editUserData.gender" required>
                        Other
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="#/users/:username" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>

